/* Header Base */

/* logo */

.logo-img {
  height: 100px;     /* adjust size */
  width: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .logo-img {
    height: 90px;
  }
}

.main-header {
  background: #fff;
  padding: 18px 40px;
  border-bottom: 1px solid #eee;
  transition: all 0.4s ease;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

/* Sticky Mode */
.main-header.sticky {
  background: #ffffffd9;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

.desktop-menu a {
  margin: 0 18px;
  font-weight: 600;
  font-size: 16px;
  color: #111 !important;
  position: relative;
  padding-bottom: 5px;
}

/* Underline hover animation */
.hover-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 50%;
  bottom: 0;
  background: #009688;
  transition: 0.3s;
}

.hover-link:hover::after {
  width: 100%;
  left: 0;
}

/* Mobile */
.menu-icon {
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 75%;
  height: 100vh;
  background: #fff;
  z-index: 2000;
  padding: 40px 20px;
  box-shadow: -3px 0 15px rgba(0, 0, 0, 0.18);
}

.mobile-menu ul {
  margin-top: 40px;
  padding: 0;
  list-style: none;
}

.mobile-menu li {
  margin: 18px 0;
}

.mobile-menu a {
  font-size: 20px;
  font-weight: 600;
  color: #111;
}

/* Hide desktop on mobile */
@media (max-width: 992px) {
  .desktop-menu {
    display: none !important;
  }
}
/* Login Icon */
.login-icon {
  display: flex;
  align-items: center;
}

.login-link {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  color: #333 !important;
  text-decoration: none;
}

.login-link:hover {
  color: #7b4bff !important;
}
